<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id"
    content="944589373335-dcoui95329jpdq66kpuk9jc2u2vbfpu9.apps.googleusercontent.com">
  <title>Morada - Login</title>
</head>

<body style="min-height:100vh;display:flex;margin:0;padding:0;align-items: center;justify-content: center">
  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <form id="login" action="/login" method="POST">
    <input hidden id="id_token" type="text" name="id_token" />
  </form>

  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      document.getElementById('id_token').setAttribute('value', googleUser.getAuthResponse().id_token)
      document.getElementById('login').submit();
    }
  </script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>