<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Morada - Nova Tarefa</title>
</head>

<body>
  <h1>Adicionar nova tarefa</h1>
  <form action="/nova-tarefa" method="POST">
    <input hidden th:value="${casa.getCodigo()}" id="casa" type="text" name="casa" required />

    <div>
      <label for="nome">Nome</label>
      <input id="nome" type="text" name="nome" required />
    </div>

    <div>
      <label for="data">Data</label>
      <input id="data" type="date" name="data" required />
    </div>

    <div>
      <label for="hora">Hora</label>
      <input id="hora" type="time" name="hora" required />
    </div>

    <div>
      <label for="responsavel">Responsavel</label>
      <select id="responsavel" name="responsavel" required>
        <option th:each="membro: ${casa.getMembros()}" th:value="${membro.getEmail()}">
          <span th:text="${membro.getNome()}"></span>
        </option>
      </select>
    </div>

    <button>Criar</button>
  </form>

</body>

</html>