<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Morada</title>
</head>

<body>
  <h1>Oi, <span th:text="${pessoa.getNome()}"></span>! Não consegui encontrar nenhuma casa que você fizesse parte.</h1>
  <h2>Escolha uma das duas opções</h2>

  <h3>Criar uma casa</h3>
  <form action="/criar-casa" method="POST">
    <label for="nome">Nome</label>
    <input id="nome" name="nome" required placeholder="Ap dos Brothers" />
    <button>Criar casa</button>
  </form>

  <h3>Entrar em uma casa existente</h3>
  <form action="/entrar-casa" method="POST">
    <label for="codigo">Codigo</label>
    <input id="codigo" name="codigo" required placeholder="abcdefg" />
    <button>Entrar</button>
  </form>
</body>

</html>