<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Morada - Ver Tarefas</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data e Hora</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="tarefa: ${tarefas}">
        <td>
          <span th:text="${tarefa.getNome()}"></span>
        </td>
        <td>
          <span th:text="${tarefa.getDateTime()}"></span>
        </td>
        <td>
          <form th:if="${!tarefa.isConcluido()}" action="/concluir-tarefa" method="POST">
            <input th:value="${tarefa.getId()}" name="id" hidden />
            <button>Concluir</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>